<a href="https://colab.research.google.com/github/ashinsiji/ict_assignment/blob/main/assigment01_ashin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
a = int(input('enter item1 price: '))
b = int(input('enter item1 quatity: '))
c = int(input('enter item2 price: '))
d = int(input('enter item2 quatity: '))
t = a*b+c*d
print(t)

enter item1 price: 45
enter item1 quatity: 3
enter item2 price: 30
enter item2 quatity: 2
195

2

In [ ]:
c = int(input('enter temperature in celsius: '))
f =(c*9/5)+32
print(f)

enter temperature in celsius: 30
86.0

3

In [ ]:
a = float(input("enter the basic salary: "))
n = a+(0.20*a)+(0.10*a)
print("nt salary: ",n)

enter the basic salary: 20000
nt salary:  26000.0

4

In [ ]:
P = float(input("enter principal: "))
R = float(input("enter rate of intrest: "))
T = float(input("enter time (in year): "))
si = (P*R*T)/100
print("simple intrest =" , si)

enter principal: 10000
enter rate of intrest: 5
enter time (in year): 2
simple intrest = 1000.0

5

In [ ]:
total_minutes = int(input("Enter total minutes: "))

hours = total_minutes // 60
minutes = total_minutes % 60

print(f"{hours} hours and {minutes} minutes")

Enter total minutes: 130
2 hours and 10 minutes

6

In [ ]:
weight = float(input("enter  weight in kg: "))
height = float(input("enter the height in m : "))
bmi = weight / (height * height)

print("bmi =" , bmi)

enter  weight in kg: 60
enter the height in m : 1.65
bmi = 22.03856749311295

7

In [ ]:
a = float(input("enter the  orginal price: "))
b = float(input("enter the discount price: " ))
d =a-(a*b)/100
print(d)

enter the  orginal price: 1200
enter the discount price: 10
1080.0

8

In [ ]:
a=float(input("Enter side a:"))
b=float(input("Enter side b:"))
c=float(input("Enter side c:"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

Enter side a:5
Enter side b:6
Enter side c:7
14.696938456699069

9

In [ ]:
a=float(input("Enter wall length"))
b=float(input("Enter wall height"))
t=a*b
w=2*(1.5*1.2)
p=t-w
print("total area painted",p)
c=p*25
print("total cost",c)

Enter wall length12
Enter wall height8
total area painted 92.4
total cost 2310.0

10

In [ ]:
a=float(input("Enter number of units consumed"))
b=(a*5.2)+100
print(b)

Enter number of units consumed250
1400.0